body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

div.container {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div.container * {
    margin-bottom: 13px;
}

div.container p {
    display: inline;
    font-weight: bold;
}

div.container hr {
    border-top: 5px solid #241e56;
}

input[type="text"] {
    border-width: 2px;
    border-radius: 4px;
    width: 100px;
    background-color: rgb(229, 229, 229);
}

input[type="password"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}