body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container * {
    margin-bottom: 13px;
}

hr {
    border-top: 5px solid #241e56;
}

p {
    font-weight: bold;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.canvas {
    display: inline-block;
    width: 49%;
    height: 30%;
}